* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: rgba(253, 110, 10, 1);
}

.btn-primary {
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #fd6e0a;
}

/* header & navigation styles*/
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-titel{

}
.banner-subtitel{

}